streamlit==1.32.2
python-dotenv==1.0.0
groq==0.4.2
streamlit-option-menu==0.3.6
passlib[bcrypt]==1.7.4
langchain==0.1.13
langchain-community==0.0.30
faiss-cpu==1.7.4
huggingface-hub==0.20.0
pypdf==4.0.1
requests==2.31.0
